{% extends "bas.html.twig" %}

{% block main %}
  <h1>Lindholmen Ridklubb</h1>
    <div>
      {{ namn }}
    </div>

    <h2></h2>
    <ul>
    {% for item in exempelLista %}
      <li>{{ item }}</li>
    {% endfor %}
    </ul>
{% endblock %}
  


  
